@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 40px;
    font-family: Roboto Slab;
    font-size: 15px;
    color: aliceblue;
    background-color: #7E685A;
}

#title {
    font-family: Sacramento;
    font-size: 50px;
}

#pageheaders {
    font-family: Sacramento;
    font-size: 40px;
}

#homeform {
    background-color: #5f904b;
    padding-top: 5px;
    padding-bottom: 10px;
    border-style: double;
    border-width: 10px;
    border-color: #E7717D;
    margin-top: 40px;
}

.navbar-inverse {
    background-color: #3b312b;
    border-color: #E7717D;
    border-width: 3px;
    border-style: outset;
}

.boxes {
    background-color: grey;
    margin-top: 10px;
    outline-width: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div {
    text-align: center;
}

/* unvisited link */
a:link {
    color: #E7717D;
}

/* visited link */
a:visited {
    color: #E7717D;
}

/* mouse over link */
a:hover {
    color: #ffec64;
}

/* selected link */
a:active {
    color: #E7717D;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #EC6F66 5%, #F3A183 100%);
    background-color: #699644;
    border-radius: 1px;
    border: 1px solid #3b312b;
    display: inline-block;
    cursor: pointer;
    color: #545354;
    font-family: Roboto Slab;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 5px;
    outline-width: 0;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #F3A183 5%, #EC6F66 100%);
        background-color: #699644;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

table {
    width: 70%;
}

table, th, td {
    border: 3px #203A43;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #665951;  
}

table#t01 tr:nth-child(odd) {
    background-color: #594a40;
}

table#t01 th {
    background-color: #3b312b;
    color: aliceblue;
}