@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 40px;
    font-family: Roboto Slab;
    font-size: 15px;
    color: aliceblue;
    background-color: #7E685A;
}

/* carousel */
.carousel .carousel-inner img {
    width: 100%;
    height: 30em;
    object-fit: cover;
    overflow: hidden;
}

.carousel-caption {
    background-color: #b0434f;
}


/* homepage */
#title {
    font-family: Sacramento;
    font-size: 55px;
    margin-bottom: 15px;
}

#pageheaders {
    font-family: Sacramento;
    font-size: 40px;
}

/* Cat Create page */
#homeform {
    background-color: #5f904b;
    padding-top: 10px;
    padding-bottom: 20px;
    border-style: double;
    border-width: 10px;
    border-color: #E7717D;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-inverse {
    background-color: #3b312b;
    border-color: #E7717D;
    border-width: 3px;
    border-style: outset;
}

/* input forms */
.boxes {
    background-color: #3b312b;
    outline-width: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div {
    text-align: center;
}

/* unvisited link */
a:link {
    color: #ffee46;
}

/* visited link */
a:visited {
    color: #ffee46;
}

/* mouse over link */
a:hover {
    color: #E7717D;
}

/* selected link */
a:active {
    color: #ffee46;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: linear-gradient(to bottom, #e7717d 5%, #f5bac1 100%);
    background-color: #e7717d;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #54381e;
    font-family: Georgia;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
    outline-width: 0;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #f5bac1 5%, #e7717d 100%);
        background-color: #f5bac1;
        outline-width: 0;
    }

    .myButton:active {
        position: relative;
        top: 1px;
        outline-width: 0;
    }      

table {
    width: 100%;
}

table, th, td {
    border: 3px #203A43;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #665951;  
}

table#t01 tr:nth-child(odd) {
    background-color: #594a40;
}

table#t01 th {
    background-color: #3b312b;
    color: aliceblue;
}

table#output tr:nth-child(even) {
    background-color: #665951;
}

table#output tr:nth-child(odd) {
    background-color: #594a40;
}

table#output th {
    background-color: #3b312b;
    color: aliceblue;
}