<div class="row">
    <div class="col-md-12">
        <img class="tilt-in-fwd-tr" src="~/Content/Images/cat.jpg" width="496" height="250" />
    </div>
</div>
<div class="row" style="margin-top: 7px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="background-color: #006D6F; border: 3px; border-style:groove; border-color: #3b312b; text-align: left;">
        <h3 style="margin-top: 10px;">What is The Cat Project?</h3>
        <p>How many cats share a name with your pet? Do certain breeds prefer bird watching over playing in boxes?
           Do female cats have different personalites than male cats? Do personalities evolve with age? 
           These are the types of questions we hope to answer with The Cat Project.</p>
        <p>The idea is simple - we simply gather cat stats to find fun and interesting patterns. The more information provided by users, 
           the more interesting the results. Add your cat today and see how the stats stack up. 
           @Html.ActionLink("click here to start", "Create", "Cats", null, htmlAttributes: null)</p>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="background-color: #006D6F; border: 3px; border-style:groove; border-color: #3b312b;">
        <p style="margin-top: 10px; font-size: 10px;">Information is for informational purposes only and is not sold or shared with third parties.</p>
    </div>
    <div class="col-md-3">
    </div>
</div>
