<hr />
<div class="row">
    <div class="col-md-12">
        <br />
        <h3>What is The Cat Project?</h3>
        <br />
        <img class="img-fluid" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cat-quotes-1543599392.jpg?crop=1.00xw:0.759xh;0,0&resize=980:*" width="550" height="275" />
    </div>

    <div class="col-md-12">
        <p>Just some placeholder stuff</p>
    </div>
</div>
