<hr />
<div class="row">
    <div class="col-md-12">
        <br />
        <h3>Guide to Get You Started</h3>
        <br />
        A picture here
        <br />
    </div>

    <div class="col-md-12">
        Some links here
        <h3><a href="http://messybeast.com/colour-charts.htm" target="_blank">This is the color chart link</a></h3>
        <h3><a href="https://www.purina.com/cats/cat-breeds" target="_blank">This is the cat breed link</a></h3>
    </div>
</div>

<p>TEST</p>

<div class="row">
    <div class="col-md-4">
        <button onclick="BreedsFunction()" class="myButton">View Available Breeds</button>
        <p id="breeds"></p>
    </div>
    <div class="col-md-4">
        <p>Some text here</p>
    </div>
    <div class="col-md-4">
        <button onclick="ColorsFunction()" class="myButton">View Available Colors</button>
        <p id="colors"></p>
    </div>
</div>


@section scripts
{
<script src="~/Scripts/main.js"></script>
}

