<hr />
<div class="row">
    <div class="col-md-12">
        <br />
        <h4>Guide to Get You Started</h4>
        <br />
        A picture here
        <br /> 
   </div>

    <div class="col-md-12">
        Some links here
        <h3><a href="http://messybeast.com/colour-charts.htm" target="_blank" >This is the color chart link</a></h3>
        <h3><a href="https://www.purina.com/cats/cat-breeds" target="_blank" >This is the cat breed link</a></h3>
</div>
</div>

