<div class="row">
    <div class="col-md-12">
        <h3 id="pageheaders">Our Guide for a Purrfect Experience</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <p>
            Browse our trait labels to find the description that best suits your cat.
            Not sure which label to choose?
            Click the links below for examples!
        </p>
        <img src="~/Content/Images/cat3.png" class="img-fluid" width="250" height="303" />
        <br />
        <form>
            <button type="submit" formaction="https://www.purina.com/cats/cat-breeds" class="myButton">cat breeds guide</button><br /><br />
            <button type="submit" formaction="http://messybeast.com/colour-charts.htm" class="myButton">color charts guide</button>
        </form>
    </div>
    <div class="col-md-3">
        <table class="table" id="t01">
            <tr>
                <th>Cat Breeds</th>
            </tr>
            @foreach (var item in ((List<TheCatProject.Models.Breed>)ViewBag.Breeds))
            {
                <tr>
                    <td>
                        @item.CatBreed
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-3">
        <table class="table" id="t01">
            <tr>
                <th>Cat Colors</th>
            </tr>
            @foreach (var item in ((List<TheCatProject.Models.Color>)ViewBag.Colors))
            {
                <tr>
                    <td>
                        @item.CatColor
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-3">
        <table class="table" id="t01">
            <tr>
                <th>Personalities</th>
            </tr>
            @foreach (var item in ((List<TheCatProject.Models.Personality>)ViewBag.Personalities))
            {
                <tr>
                    <td>
                        @item.Type
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}

