<div class="row">
    <div class="col-md-12">
        <h3 class="slide-in-left" id="pageheaders">Our Guide for a Purrfect Experience</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="text-align:left; margin-top: 2px; background-color: teal; border: 3px; border-style:groove; border-color: #3b312b;" >
        <p style="margin-top: 10px;">
            Browse our labels to find the description that best suits your cat.
            Not sure which label to choose?
            Click the links below for examples!
        </p>
        <a href="https://www.purina.com/cats/cat-breeds" target="_blank" >Cat Breeds</a>
        <br />
        <a href="http://messybeast.com/colour-charts.htm" target="_blank" >Cat Colors</a>
        <img src="~/Content/Images/cat3.png" class="img-fluid" width="250" height="303" />
    </div>
    <div class="col-md-3">
        <table class="table" id="t01">
            <tr>
                <th>Cat Breeds</th>
            </tr>
            @foreach (var item in ((List<TheCatProject.Models.Breed>)ViewBag.Breeds))
            {
                <tr>
                    <td>
                        @item.CatBreed
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-3">
        <table class="table" id="t01">
            <tr>
                <th>Cat Colors</th>
            </tr>
            @foreach (var item in ((List<TheCatProject.Models.Color>)ViewBag.Colors))
            {
                <tr>
                    <td>
                        @item.CatColor
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-3">
        <table class="table" id="t01">
            <tr>
                <th>Personalities</th>
            </tr>
            @foreach (var item in ((List<TheCatProject.Models.Personality>)ViewBag.Personalities))
            {
                <tr>
                    <td>
                        @item.Type
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}

