<div class="row">
    <div class="col-md-4">
        <h1 id="title">General Cat Stats</h1>
        <img src="~/Content/Images/cat17.png" class="img-fluid" width="400" height="376" />
    </div>
    <div class="col-md-4">
        <h4>View all entries per category:</h4>
        <select id="select1" class="boxes">
            <option value="ages">Ages</option>
            <option value="breeds">Breeds</option>
            <option value="colors">Colors</option>
            <option value="names">Names</option>
            <option value="personalities">Personalities</option>
        </select>
        <br /><br />
        <button onclick="getStats()" class="myButton">
            See those cat stats
        </button>
    </div>
    <div class="col-md-4">
        <div id="outputTable">
            <table id="output"></table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}

