<div class="row">
    <div class="col-md-12">
        <h1 id="pageheaders">Congratulations, you're finished!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Click around our menu to see how your cat stats stack up</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1 id="title"><img src="~/Content/Images/cat16.png" class="img-fluid" width="400" height="400" /></h1>
    </div>
</div>
